<div class="player">
	<!-- <a href="/episode/{{ number }}/{{ url }}" class="player__container"> -->
    <div class="player__content-container">
		<div class="player__guest">
			<span class="player__guest-text"> {{ episode.guest }} </span>
		</div>
		<div class="player__quote">
			"{{ episode.quote }}"
		</div>
		<div class="player__description">
			{{ episode.description }}
		</div>
        <div class="player__src">
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{episode.soundcloud}}&amp;color=003333&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
		</div>
	</div>
</div>
